# PyCharm
.idea/

# Python
pycache/
*.pyc
*.pyo
*.pyd
**/__pycache__/


# Virtual Environment
venv/

# SQLite Database
db/microgreens_db.sqlite
db/*.sqlite
db/*.db

/static/images/entries/*
!/static/images/entries/.gitkeep
